<% title "Részvény mennyiség" %>

<table>
  <tr>
    <th>Számla</th>
    <th>Mennyiség</th>
    <th>Részvény</th>
  </tr>
  <% for stock_vol in @stock_vols %>
    <tr>
      <td><%= stock_vol.account_id %></td>
      <td><%= stock_vol.volume %></td>
      <td><%= stock_vol.stock_id %></td>
      <td><%= link_to "Megtekintés", stock_vol %></td>
      <td><%= link_to "Szerkesztés", edit_stock_vol_path(stock_vol) %></td>
      <td><%= link_to "Törlés", stock_vol, :confirm => 'Biztosan?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Új részvény mennyiség", new_stock_vol_path %></p>
