<% title "Részvény mennyiség" %>

<p>
  <strong>Számla:</strong>
  <%= @stock_vol.account_id %>
</p>
<p>
  <strong>Mennyiség:</strong>
  <%= @stock_vol.volume %>
</p>
<p>
  <strong>Részvény:</strong>
  <%= @stock_vol.stock_id %>
</p>

<p>
  <%= link_to "Szerkesztés", edit_stock_vol_path(@stock_vol) %> |
  <%= link_to "Törlés", @stock_vol, :confirm => 'Biztosan?', :method => :delete %> |
  <%= link_to "Összes megtekintése", stock_vols_path %>
</p>
