<%# title "Stocks" %>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% for stock in @stocks %>
    <tr>
      <td><%= stock.name %></td>
      <td><%= stock.price %></td>
      <td><%= link_to "Show", stock %></td>
      <td><%= link_to "Edit", edit_stock_path(stock) %></td>
      <td><%= link_to "Destroy", stock, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Stock", new_stock_path %></p>
