<% title "Részvény" %>

<p>
  <strong>Név:</strong>
  <%= @stock.name %>
</p>
<p>
  <strong>Ár:</strong>
  <%= @stock.price %>
</p>

<p>
  <%= link_to "Szerkesztés", edit_stock_path(@stock) %> |
  <%= link_to "Törlés", @stock, :confirm => 'Biztosan?', :method => :delete %> |
  <%= link_to "Összes megtekintése", stocks_path %>
</p>
