<h1>Users</h1>
<table>
  <tr>
	<th>E-mail address</th>
	<th>First name</th>
	<th>Last name</th>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td><%= link_to user.email, user %></td>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td>
	  <%= link_to "Szerkesztés", user, :method => :edit %>
  	</td>
	<td>
	  <%= link_to "Törlés", user, :confirm => 'Are you sure?', :method => :destroy %>
  	</td>
	<td>
	  <% if user.active == 1 %>
	    <%= link_to "Felfüggesztés", :controller => "users", :action =>  'deactivate', :id => user.id %>
  	  <% else %>
	    <%= link_to "Aktiválás", :controller => "users", :action =>  'activate', :id => user.id %>
	  <% end %>
	</td>
  </tr>
<% end %>
</table>
