<% title "New Order" %>
    <% 
      if current_user.accounts.find_by_active(1)
        selected = current_user.accounts.find_by_active(1).id
       else
        selected = current_user.accounts.first.id
      end
    %>

<%= form_for @order do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :account_id %><br />
    <%= f.collection_select :account_id, current_user.accounts, :id, :name, { :selected => selected, :include_blank => false } %>
  </p>
  <p>
    <%= f.label :stock_id %><br />
    <%= f.collection_select :stock_id, Stock.all, :id, :name, { :include_blank => false } %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </p>
  <p>
    <%= f.label :sell %><br />
    <%= f.select :sell, [['Sell', 1], ['Buy', 0]], { :selected => 'Sell'}  %>
  </p>
  <p><%= f.submit %></p>
<% end %>
