<% title "Megbízás" %>

<p>
  <strong>Számla:</strong>
  <%= @order.account_id %>
</p>
<p>
  <strong>Részvény:</strong>
  <%= @order.stock_id %>
</p>
<p>
  <strong>Ár:</strong>
  <%= @order.price %>
</p>
<p>
  <strong>Típus:</strong>
  <%= @order.print_type %>
</p>

<p>
  <%= link_to "Szerkesztés", edit_order_path(@order) %> |
  <%= link_to "Törlés", @order, :confirm => 'Biztosan?', :method => :delete %> |
  <%= link_to "Összes megtekintése", orders_path %>
</p>
