<% title "Megbízás" %>

<p>
  <strong>Számla:</strong>
  <%= @order.account_id %>
</p>
<p>
  <strong>Részvény:</strong>
  <%= @order.stock_id %>
</p>
<p>
  <strong>Ár:</strong>
  <%= @order.price %>
</p>
<p>
  <strong>Típus:</strong>
  <%= @order.sell %>
</p>

<p>
  <%= link_to "Edit", edit_order_path(@order) %> |
  <%= link_to "Destroy", @order, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", orders_path %>
</p>
