<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "custom" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'raphael-min' %>
    <%= javascript_include_tag 'analytics' %>
    <%= javascript_include_tag 'popup' %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <h1>Tőzsdei kereskedő rendszer</h1>
    <div id="user_nav">
      <% if user_signed_in? %>
        <table>
        <tr>
          <td> Üdvözöljük <%= current_user.email %>! </td>
          <td> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </td>
        </tr>
        </table>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>

    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <%= content_tag :h1, yield(:title) if show_title? %>

      <div>
      <% if user_signed_in? %>
        <div id="menu">
          <ul>
            <li><%= link_to "Kezdőlap", '/' %></li>
            <li><%= link_to "Számlák", :controller => 'accounts', :action => 'index' %></li>
            <li><%= link_to "Új Megbízás", :controller => 'orders', :action => 'new' %></li>
            <li><%= link_to "Megbízások", :controller => 'orders', :action => 'index' %></li>
            <li><%= link_to "Ügyletek", :controller => 'transactions', :action => 'index' %></li>
          </ul>
        </div>
        <br/>
        <br/>
      <% end %>

      <%= yield %>

      </div>
    </div>
  </body>
</html>
