<%= form_for @account do |f| %>
  <%= f.error_messages %>
  <p>
    <% @account.user_id = current_user.id %>
    <%#= f.label :user_id %><br />
    <%#= f.number_field :user_id %>
  </p>
  <p>
    <%= f.label :balance %><br />
    <%= f.number_field :balance %>
  </p>
  <p><%= f.submit %></p>
<% end %>
