<h1>Accounts</h1>
<table>
  <tr>
	<th>Account name</th>
	<th>Account holder id</th>
	<th>Account holder first name</th>
	<th>Account holder last name</th>
	<th>Balance</th>
	<th>Status</th>
  </tr>
<% @accounts.each do |account| %>
  <tr>
     <td><%= account.name %></td>
     <td><%= account.user_id %></td>
	 <td><%= account.user.first_name %></td>
	 <td><%= account.user.last_name %></td>
	 <td><%= account.balance %></td>
     <td><%= account.active %></td>
  </tr>
<% end %>
</table>
