<h1>Számlák</h1>
<table>
  <tr>
	<th>Számla név</th>
	<th>Számla tulajdonos azonsító</th>
	<th>Számla tulajdonos előnév</th>
	<th>Számla tulajdonos utónév</th>
	<th>Egyenleg</th>
  </tr>
<% @accounts.each do |account| %>
  <tr>
         <td><%= account.name %></td>
     <td><%= account.user_id %></td>
	 <td><%= account.user.first_name %></td>
	 <td><%= account.user.last_name %></td>
	 <td><%= account.balance %></td>
  </tr>
<% end %>
</table>
