<% title "Számla" %>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>
<p>
  <strong>Balance:</strong>
  <%= @account.balance %>
</p>

<p>
  <%= link_to "Szerkesztés", edit_account_path(@account) %> |
  <%= link_to "Törlés", @account, :confirm => 'Biztosan?', :method => :delete %> |
  <%= link_to "Összeset megtekint", accounts_path %>
</p>
